.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee;

  white-space: nowrap;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);      
}

.fixed-nav ul, .fixed-nav li {
  display:inline;
}

.fixed-nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 10px;
  color: #333;
  font-family: arial;
}

.fixed-nav a:hover {
  background-color: #000;
  color: #eee;
}

.fixed-nav ul {
  padding:0;
}
.fixed-nav img {
  vertical-align: middle;
}
main {margin-top:55px;}
